@import "https://unpkg.com/open-props";


:root {
  --primary-color: #d10000;
  --input-color: #333;
  --bg-color: white;
  --logo-color:rgb(23, 16, 5);
  --color: #333;
  --heading-color: white;
  --accent-fade: rgba(255, 206, 0, 0.08);
  --hero-lg-heading: white;
  --footer-color: #343a40;
  --header-color: rgb(51 22 0 / 6%);
  --visited-link-color: #800080;

  --ff-base: '';
  --ff-accent: '';

  --fs--2: clamp(0.63rem, calc(0.84rem + -0.27vw), 0.78rem);
  --fs--1: clamp(0.88rem, calc(0.96rem + -0.09vw), 0.94rem);
  --fs-300: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  /* 400 is base */
  --fs-400: clamp(1.35rem, calc(1.20rem + 0.73vw), 1.77rem);
  --fs-500: clamp(1.62rem, calc(1.31rem + 1.53vw), 2.50rem);
  --fs-600: clamp(1.94rem, calc(1.39rem + 2.77vw), 3.53rem);
  --fs-700: clamp(2.33rem, calc(1.41rem + 4.63vw), 5.00rem);
  --fs-800: clamp(2.80rem, calc(1.32rem + 7.42vw), 7.07rem);
}

[data-theme="dark"] {
  --accent-fade: rgb(255 206 0 / 7%);
  --primary-color: #d10000;
  --input-color: #FECF0A;
  --bg-color:rgb(43, 38, 35);
  --logo-color:rgb(246, 240, 229);
  --color:rgb(251, 233, 198);
  --heading-color: #f0e5d1;
  --hero-lg-heading: #f0e5d1;
  --header-color: rgb(94 84 74 / 30%);
  --footer-color: rgb(94 84 74 / 30%);
  --visited-link-color: #d65d0e;
  --interactive-color: #FECF0A;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

@font-face {
  font-family: 'Crimson Pro';
  src: url('/fonts/CrimsonPro/CrimsonPro-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Full range of variable weights */
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Light.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('/fonts/Lato/Lato-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Italic';
  src: url('/fonts/Lato/Lato-Italic.woff2') format('woff2');
  font-display: swap;
}

body {
  margin: 0;
	font-family: 'Lato', sans-serif;
  background-color: var(--bg-color);
  color: var(--color);
  font-size: var(--fs-300);
  line-height: 1.6;
}

.bold {
	font-family: 'Lato-Bold';
}

.italic {
	font-family: 'Lato-Italic';
}

.serif {
	font-family: 'Crimson Pro', serif;
}

.sans-serif {
	font-family: 'Lato', sans-serif;
}

/* larger font sizes have less line height */
h1,
h2,
h3 {
  line-height: 1.1;
  font-family: 'Crimson Pro', serif;
}

h1 {
  font-size: var(--fs-600);
  padding-bottom: 1rem;
}

h2 {
  font-size: 2.5rem !important;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

h3 {
  font-size: var(--fs-400);
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

h4 {
	font-weight: bold;
	font-size: 1.4rem !important;
}

blockquote p {
	margin-left: 1.2rem;
}

blockquote p span {
	margin-top: .5rem;
}

.line-height-3 {
	line-height: 3;
}

.section {
	padding-block: var(--size-fluid-2);
}

.section-title {
	font-size: var(--font-size-fluid-3);
	color: var(--text-1);
}

.service-feature {
	padding: 2rem 0;
	h3 {
		margin-bottom: 1rem;
	}
}

.currentcolor {
  fill: currentColor;
}

.center {
  text-align: center;
}

.center-w-grid {
  display: grid;
  justify-content: center;
}

.space-y-20 {
	margin-bottom: 3rem;
}

.flow-bottom>* {
  margin-bottom: .5em;
}

.container {
  width: min(100% - 3rem, 65ch);
  margin-inline: auto;
}

.value-prop {
  width: min(100% - 3rem, 90ch);
  margin-inline: auto;
  text-align: center;
}

.larger-wrapper {
	width: min(100% - 3rem, 90ch);
	margin-inline: auto;
}

.static-logo {
	color: var(--logo-color);
	align-items: center;
}

.auto-grid {
  --min-column-size: 9rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(var(--min-column-size), 100%), 1fr));
}

input,
textarea {
  background-color: transparent;
}

.rounded {
	border-radius: 1rem;
}

	.inset {
		padding-left: 1rem;
		padding-right: 1rem;
	}

		.italics {
		font-style: italic;
		font-size: var(--fs-300);
	}

.fade {
  background-color: var(--accent-fade);
}

.square {
  aspect-ratio: var(--ratio-square);
}

.pb-8 {
	padding-bottom: 2rem;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.mt-10 {
	padding-top: 1rem;
}

.py-10 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.py-20 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.py-30 {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.px-10 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.px-20 {
	padding-left: 2rem;
	padding-right: 2rem;
}

.px-30 {
	padding-left: 3rem;
	padding-right: 3rem;
}	

.px-40 {
	padding-left: 4rem;
	padding-right: 4rem;
}


.p-10 {
	padding: 1rem;
}

.p-20 {
	padding: 2rem;
}

.p-30 {
	padding: 3rem;
}

.p-40 {
	padding: 4rem;
}

a:visited {
  color: var(--visited-link-color);
}

.moon {
  color: var(--interactive-color);
}

.nowrap {
	white-space: nowrap;
}

.icn {
	margin-bottom: -0.2rem;
}

.phone-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 24 24'%3E%3Cpath fill='%23333' d='M20 4c0-2.2-1.8-4-4-4H8C5.8 0 4 1.8 4 4v16c0 2.2 1.8 4 4 4h8c2.2 0 4-1.8 4-4V4zm-7 18h-2c-.6 0-1-.4-1-1s.4-1 1-1h2c.6 0 1 .4 1 1s-.4 1-1 1zm5-5c0 .6-.4 1-1 1H7c-.6 0-1-.4-1-1V5c0-.6.4-1 1-1h10c.6 0 1 .4 1 1v12z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

[data-theme="dark"] .phone-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 24 24'%3E%3Cpath fill='%23f0e5d1' d='M20 4c0-2.2-1.8-4-4-4H8C5.8 0 4 1.8 4 4v16c0 2.2 1.8 4 4 4h8c2.2 0 4-1.8 4-4V4zm-7 18h-2c-.6 0-1-.4-1-1s.4-1 1-1h2c.6 0 1 .4 1 1s-.4 1-1 1zm5-5c0 .6-.4 1-1 1H7c-.6 0-1-.4-1-1V5c0-.6.4-1 1-1h10c.6 0 1 .4 1 1v12z'/%3E%3C/svg%3E");
}

.mail-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23333' d='M22.984.638a.5.5 0 0 0-.718-.559L1.783 10.819a1.461 1.461 0 0 0-.1 2.527l4.56 2.882a.25.25 0 0 0 .3-.024L18.7 5.336a.249.249 0 0 1 .361.342L9.346 17.864a.25.25 0 0 0 .062.367L15.84 22.3a1.454 1.454 0 0 0 2.19-.895ZM7.885 19.182a.251.251 0 0 0-.385.211v3.585a1 1 0 0 0 1.707.707l2.018-2.017a.251.251 0 0 0-.043-.388Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

[data-theme="dark"] .mail-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23f0e5d1' d='M22.984.638a.5.5 0 0 0-.718-.559L1.783 10.819a1.461 1.461 0 0 0-.1 2.527l4.56 2.882a.25.25 0 0 0 .3-.024L18.7 5.336a.249.249 0 0 1 .361.342L9.346 17.864a.25.25 0 0 0 .062.367L15.84 22.3a1.454 1.454 0 0 0 2.19-.895ZM7.885 19.182a.251.251 0 0 0-.385.211v3.585a1 1 0 0 0 1.707.707l2.018-2.017a.251.251 0 0 0-.043-.388Z'/%3E%3C/svg%3E");
}
