@import "https://unpkg.com/open-props";


:root {
  --primary-color: #d10000;
  --bg-color: white;
  --color: #333;
  --heading-color: white;
  --accent-fade: rgba(255, 206, 0, 0.08);
  --hero-lg-heading: white;
}

[data-theme="dark"] {
  --primary-color: #2b3f63;
  --bg-color: #000;
  --color: #ddd;
  --heading-color: white;
  --hero-lg-heading: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji;
  background-color: var(--bg-color);
  color: var(--color);
}

p {
  line-height: var(--size-6);
}

.container {
  max-width: var(--size-md);
  margin: 0 auto;
  padding-inline: 2em;
}

.auto-grid {
  --min-column-size: 9rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(var(--min-column-size), 100%), 1fr));
}

input,
textarea {
  background-color: transparent;
}

/* orig one but keep for now
.container-orig {
  width: min(100% - 2rem, 50rem);
  margin-inline: auto;
} */

.fade {
  background-color: var(--accent-fade);
}

.square {
  aspect-ratio: var(--ratio-square);
}