@import 'https://unpkg.com/open-props';

/* https://github.com/argyleink/open-props/blob/main/src/props.colors.css */

:root {
	--primary-color: #d10000;
	--input-color: #333;
	--bg-color: white;
	--logo-color: rgb(23, 16, 5);
	--color: #333;
	--heading-color: white;
	--accent-fade: rgba(255, 206, 0, 0.08);
	--hero-lg-heading: white;
	--footer-color: #343a40;
	--header-color: var(--brown-0);
	--visited-link-color: var(--red-10);
	--link-color: var(--primary-color);
	--primary-color-hover: rgb(184,0,0);
	--interactive-color: #fecf0a;

	--brown-10: #4d3928;
	--past-clinics-bg: #ecf4fd; 
	--past-clinic-bg:#f7fdff;
	--show-card-bg:#faf6f2;

	--bright-color: #000;

	--ff-base: '';
	--ff-accent: '';

	--fs--2: clamp(0.63rem, calc(0.84rem + -0.27vw), 0.78rem);
	--fs--1: clamp(0.88rem, calc(0.96rem + -0.09vw), 0.94rem);
	--fs-300: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
	/* 400 is base */
	--fs-400: clamp(1.45rem, calc(1.2rem + 0.73vw), 1.35rem);
	--fs-500: clamp(1.62rem, calc(1.31rem + 1.53vw), 2.5rem);
	--fs-600: clamp(1.94rem, calc(1.39rem + 2.77vw), 3.53rem);
	--fs-700: clamp(2.33rem, calc(1.41rem + 4.63vw), 5rem);
	--fs-800: clamp(2.8rem, calc(1.32rem + 7.42vw), 7.07rem);
}

[data-theme='dark'] {
	--accent-fade: rgb(255 206 0 / 7%);
	--primary-color: var(--red-8);
	--input-color: #fecf0a;
	--bg-color: rgb(43, 38, 35);
	--logo-color: rgb(246, 240, 229);
	--color: rgb(251, 233, 198);
	--heading-color: #f0e5d1;
	--hero-lg-heading: #f0e5d1;
	--header-color: rgb(94 84 74 / 30%);
	--footer-color: rgb(94 84 74 / 30%);
	--visited-link-color: white;
	--interactive-color: #fecf0a;
	--link-color: white;

	--past-clinics-bg: #545b5c; 
	--past-clinic-bg: #3a3a37;
	--show-card-bg: #4d3928;

	--bright-color: #fff;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

img {
	max-width: 100%;
	display: block;
}

/* Libre Baskerville family */

@font-face {
	font-family: 'Libre Baskerville';
	src: url('/fonts/LibreBaskerville/LibreBaskerville-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Libre Baskerville';
	src: url('/fonts/LibreBaskerville/LibreBaskerville-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Libre Baskerville';
	src: url('/fonts/LibreBaskerville/LibreBaskerville-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}
/* Montserrat family */
@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat/Montserrat-VariableFont_wght.woff2') format('woff2');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.woff2') format('woff2');
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	background-color: var(--bg-color);
	color: var(--color);
	font-size: var(--fs-300);
	line-height: 1.6;
	font-weight: 400;
}
main {
	max-width: 1200px;
	margin: 0 auto;
}

.bright-color {
	color: var(--bright-color);
}

.bold {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

.italic {
	font-family: 'Montserrat', sans-serif;
	font-style: italic;
}

.serif {
	font-family: 'Libre Baskerville', serif;
}

.sans-serif {
	font-family: 'Montserrat', sans-serif;
}

/* larger font sizes have less line height */
h1,
h2,
h3 {
	line-height: 1.1;
	font-family: 'Libre Baskerville', serif;
}

h1 {
	font-size: var(--fs-500);
	padding-bottom: 1rem;
}

h2 {
	font-size: 2.1rem;
	padding-top: 1rem;
	padding-bottom: 0.5rem;
}

h3 {
	font-size: var(--fs-400);
	padding-top: 1.5rem;
	padding-bottom: 1rem;
}

h4 {
	font-weight: 500;
	font-size: var(--fs-300);
}

blockquote {
	border-left: 3px solid var(--accent-color);
}

blockquote p {
	margin-left: 1.2rem;
}

blockquote p span {
	margin-top: 0.5rem;
}

.line-height-3 {
	line-height: 3;
}

.section {
	padding-block: var(--size-fluid-2);
}

.section-title {
	font-size: 2.75rem;
	margin-bottom: 1.5rem;
	color: var(--text-1);
}

.service-feature {
	padding: 2rem 0;
	h3 {
		margin-bottom: 1rem;
	}
}

.section-description {
	margin-bottom: 2rem;
}

.currentcolor {
	fill: currentColor;
}

.center {
	text-align: center;
}

.center-w-grid {
	display: grid;
	justify-content: center;
}

.space-y-20 {
	margin-bottom: 3rem;
}

.flow-bottom > * {
	margin-bottom: 2rem;
}

.container {
	width: min(100% - 3rem, 65ch);
	margin-inline: auto;
}

.value-prop {
	width: min(100% - 3rem, 90ch);
	margin-inline: auto;
	text-align: center;
}

.larger-wrapper {
	width: min(100% - 3rem, 90ch);
	margin-inline: auto;
}

.static-logo {
	color: var(--logo-color);
	align-items: center;
}

.auto-grid {
	--min-column-size: 9rem;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(min(var(--min-column-size), 100%), 1fr));
}

.photo-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.photo-grid > * {
	flex: 1 1 calc(25% - 1rem); /* For 4 across */

	@media (max-width: 635px) {
		flex: 1 1 calc(50% - 1rem); /* For 2 across */
		min-width: calc(50% - 1rem);
	}
}

input,
textarea {
	background-color: transparent;
}

.rounded {
	border-radius: 1rem;
}

.top-rounded {
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

.bottom-rounded {
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.inset {
	padding-left: 1rem;
	padding-right: 1rem;
}

.italics {
	font-style: italic;
	font-size: var(--fs-300);
}

.fade {
	background-color: var(--accent-fade);
}

.square {
	aspect-ratio: var(--ratio-square);
}

.created-by {
	padding-top: var(--size-fluid-2);
	font-size: var(--fs--1);
}

.created-by a {
	color: white;
	text-decoration: none;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	color: var(--link-color);
}
a:hover {
	text-decoration: underline;
	text-decoration-style: wavy;
	color: var(--interactive-color);
}
a:visited {
	color: var(--visited-link-color);
}
a:visited:hover {
	text-decoration: underline;
	text-decoration-style: wavy;
	color: var(--interactive-color);
}

.pb-8 {
	padding-bottom: 2rem;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}
.mx-20 {
	margin-left: 2rem;
	margin-right: 2rem;
}

.mt-10 {
	margin-top: 1rem;
}
.mt-50 {
	margin-top: 5rem;
}

.mb-10 {
	margin-bottom: 1rem;
}

.mb-20 {
	margin-bottom: 2rem;
}

.mb-30 {
	margin-bottom: 3rem;
}

.mb-40 {
	margin-bottom: 4rem;
}
.my-50 {
	margin-top: 5rem;
	margin-bottom: 5rem;
}
.my-60 {
	margin-top: 6rem;
	margin-bottom: 6rem;
}

.py-10 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.py-20 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.py-30 {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.px-10 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.px-20 {
	padding-left: 2rem;
	padding-right: 2rem;
}

.px-30 {
	padding-left: 3rem;
	padding-right: 3rem;
}

.px-40 {
	padding-left: 4rem;
	padding-right: 4rem;
}

.p-10 {
	padding: 1rem;
}

.p-20 {
	padding: 2rem;
}

.p-30 {
	padding: 3rem;
}

.p-40 {
	padding: 4rem;
}

a:visited {
	color: var(--visited-link-color);
}
a:visited:hover {
	color: var(--interactive-color);
}

.pull-quote {
	font-size: var(--fs-400);
	font-weight: 400;
}
.grande {
	margin-top: 0.8rem;
	line-height: 2;
}

.moon {
	color: var(--interactive-color);
}

.nowrap {
	white-space: nowrap;
}

.icn {
	margin-bottom: -0.2rem;
}

.facebook-icon {
	width: 16px;
	height: 16px;
	display: inline-block;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 24 24'%3E%3Cpath fill='%23333' d='M24 12.07c0-6.627-5.373-12-12-12S0 5.443 0 12.07c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.024 24 18.062 24 12.07Z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

[data-theme='dark'] .facebook-icon {
	width: 16px;
	height: 16px;
	display: inline-block;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 24 24'%3E%3Cpath fill='%23f0e5d1' d='M24 12.07c0-6.627-5.373-12-12-12S0 5.443 0 12.07c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.024 24 18.062 24 12.07Z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.phone-icon {
	width: 16px;
	height: 16px;
	display: inline-block;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 24 24'%3E%3Cpath fill='%23333' d='M20 4c0-2.2-1.8-4-4-4H8C5.8 0 4 1.8 4 4v16c0 2.2 1.8 4 4 4h8c2.2 0 4-1.8 4-4V4zm-7 18h-2c-.6 0-1-.4-1-1s.4-1 1-1h2c.6 0 1 .4 1 1s-.4 1-1 1zm5-5c0 .6-.4 1-1 1H7c-.6 0-1-.4-1-1V5c0-.6.4-1 1-1h10c.6 0 1 .4 1 1v12z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

[data-theme='dark'] .phone-icon {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 24 24'%3E%3Cpath fill='%23f0e5d1' d='M20 4c0-2.2-1.8-4-4-4H8C5.8 0 4 1.8 4 4v16c0 2.2 1.8 4 4 4h8c2.2 0 4-1.8 4-4V4zm-7 18h-2c-.6 0-1-.4-1-1s.4-1 1-1h2c.6 0 1 .4 1 1s-.4 1-1 1zm5-5c0 .6-.4 1-1 1H7c-.6 0-1-.4-1-1V5c0-.6.4-1 1-1h10c.6 0 1 .4 1 1v12z'/%3E%3C/svg%3E");
}

.mail-icon {
	width: 16px;
	height: 16px;
	display: inline-block;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23333' d='M22.984.638a.5.5 0 0 0-.718-.559L1.783 10.819a1.461 1.461 0 0 0-.1 2.527l4.56 2.882a.25.25 0 0 0 .3-.024L18.7 5.336a.249.249 0 0 1 .361.342L9.346 17.864a.25.25 0 0 0 .062.367L15.84 22.3a1.454 1.454 0 0 0 2.19-.895ZM7.885 19.182a.251.251 0 0 0-.385.211v3.585a1 1 0 0 0 1.707.707l2.018-2.017a.251.251 0 0 0-.043-.388Z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

[data-theme='dark'] .mail-icon {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23f0e5d1' d='M22.984.638a.5.5 0 0 0-.718-.559L1.783 10.819a1.461 1.461 0 0 0-.1 2.527l4.56 2.882a.25.25 0 0 0 .3-.024L18.7 5.336a.249.249 0 0 1 .361.342L9.346 17.864a.25.25 0 0 0 .062.367L15.84 22.3a1.454 1.454 0 0 0 2.19-.895ZM7.885 19.182a.251.251 0 0 0-.385.211v3.585a1 1 0 0 0 1.707.707l2.018-2.017a.251.251 0 0 0-.043-.388Z'/%3E%3C/svg%3E");
}

.link-icon {
	color: var(--link-color);
	width: 16px;
	height: 16px;
	padding-left: 2rem;
	display: inline-block;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 640 512'%3E%3Cpath d='M598.6 41.41C570.1 13.8 534.8 0 498.6 0s-72.36 13.8-99.96 41.41l-43.36 43.36c15.11 8.012 29.47 17.58 41.91 30.02 3.146 3.146 5.898 6.518 8.742 9.838l37.96-37.96C458.5 72.05 477.1 64 498.6 64c20.67 0 40.1 8.047 54.71 22.66 14.61 14.61 22.66 34.04 22.66 54.71s-8.049 40.1-22.66 54.71l-133.3 133.3C405.5 343.1 386 352 365.4 352s-40.1-8.048-54.71-22.66C296 314.7 287.1 295.3 287.1 274.6s8.047-40.1 22.66-54.71l4.44-3.49c-2.1-3.9-4.3-7.9-7.5-11.1-8.6-8.6-19.9-13.3-32.1-13.3-11.93 0-23.1 4.664-31.61 12.97-30.71 53.96-23.63 123.6 22.39 169.6C293 402.2 329.2 416 365.4 416c36.18 0 72.36-13.8 99.96-41.41L598.6 241.3c28.45-28.45 42.24-66.01 41.37-103.3-.87-35.9-14.57-69.84-41.37-96.59zM234 387.4l-37.9 37.9C181.5 439.1 162 448 141.4 448c-20.67 0-40.1-8.047-54.71-22.66-14.61-14.61-22.66-34.04-22.66-54.71s8.049-40.1 22.66-54.71l133.3-133.3C234.5 168 253.1 160 274.6 160s40.1 8.048 54.71 22.66c14.62 14.61 22.66 34.04 22.66 54.71s-8.047 40.1-22.66 54.71l-3.51 3.52c2.094 3.939 4.219 7.895 7.465 11.15C341.9 315.3 353.3 320 365.4 320c11.93 0 23.1-4.664 31.61-12.97 30.71-53.96 23.63-123.6-22.39-169.6C346.1 109.8 310.8 96 274.6 96c-36.2 0-72.3 13.8-99.9 41.4L41.41 270.7C13.81 298.3 0 334.48 0 370.66c0 36.18 13.8 72.36 41.41 99.97C69.01 498.2 105.2 512 141.4 512c36.18 0 72.36-13.8 99.96-41.41l43.36-43.36c-15.11-8.012-29.47-17.58-41.91-30.02-3.21-3.11-5.91-6.51-8.81-9.81z' ");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

[data-theme='dark'] .link-icon {
	color: var(--link-color);
}