@import "https://unpkg.com/open-props";


:root {
  --primary-color: #d10000;
  --input-color: #333;
  --bg-color: white;
  --color: #333;
  --heading-color: white;
  --accent-fade: rgba(255, 206, 0, 0.08);
  --hero-lg-heading: white;
  --footer-color: #343a40;
  --header-color: white;

  --ff-base: '';
  --ff-accent: '';

  --fs--2: clamp(0.63rem, calc(0.84rem + -0.27vw), 0.78rem);
  --fs--1: clamp(0.88rem, calc(0.96rem + -0.09vw), 0.94rem);
  --fs-300: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  /* 400 is base */
  --fs-400: clamp(1.35rem, calc(1.20rem + 0.73vw), 1.77rem);
  --fs-500: clamp(1.62rem, calc(1.31rem + 1.53vw), 2.50rem);
  --fs-600: clamp(1.94rem, calc(1.39rem + 2.77vw), 3.53rem);
  --fs-700: clamp(2.33rem, calc(1.41rem + 4.63vw), 5.00rem);
  --fs-800: clamp(2.80rem, calc(1.32rem + 7.42vw), 7.07rem);
}

[data-theme="dark"] {
  --primary-color: #d10000;
  --input-color: #FECF0A;
  ;
  --bg-color: #000;
  --color: #ddd;
  --heading-color: white;
  --hero-lg-heading: white;
  --header-color: rgba(255, 206, 0, 0.08);
  --footer-color: var(--accent-fade);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji;
  background-color: var(--bg-color);
  color: var(--color);
  font-size: var(--fs-300);
  line-height: 1.6;
}

/* larger font sizes have less line height */
h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: var(--fs-600);
  padding-top: 3rem;
  padding-bottom: 1rem;
}

h2 {
  font-size: var(--fs-500);
  padding-top: 3rem;
  padding-bottom: 1rem;
}

h3 {
  font-size: var(--fs-400);
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.service-feature {
	padding: 2rem 1rem;
	h3 {
		margin-bottom: 1rem;
	}
}

.currentcolor {
  fill: currentColor;
}

.center {
  text-align: center;
}

.center-w-grid {
  display: grid;
  justify-content: center;
}


/* all items but fist one */
.flow>*+* {
  margin: 1em;
}

/* same as above
.flow > :where(:not(:first-child)) {

} */

.flow-bottom>* {
  margin-bottom: .5em;
}

.container {
  width: min(100% - 3rem, 65ch);
  margin-inline: auto;
}

.larger-wrapper {
	width: min(100% - 3rem, 90ch);
	margin-inline: auto;
}

.auto-grid {
  --min-column-size: 9rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(var(--min-column-size), 100%), 1fr));
}

input,
textarea {
  background-color: transparent;
}


.fade {
  background-color: var(--accent-fade);
}

.square {
  aspect-ratio: var(--ratio-square);
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.py-10 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.py-20 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.py-30 {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.px-10 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.px-20 {
	padding-left: 2rem;
	padding-right: 2rem;
}

.px-30 {
	padding-left: 3rem;
	padding-right: 3rem;
}	

.px-40 {
	padding-left: 4rem;
	padding-right: 4rem;
}


.p-10 {
	padding: 1rem;
}

.p-20 {
	padding: 2rem;
}

.p-30 {
	padding: 3rem;
}

.p-40 {
	padding: 4rem;
}